In [1]:
import numpy as np
import pandas as pd

In [4]:
ex2_df = pd.read_csv('Homo_sapiens.GRCh38.107.gtf', sep="\t", header=None, comment='#')

/var/folders/yv/l_1fgw5549sg8s9gt3z3fqnr0000gr/T/ipykernel_59186/1512544343.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  ex2_df = pd.read_csv('Homo_sapiens.GRCh38.107.gtf', sep="\t", header=None, comment='#')

In [5]:
ex2_df

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3371239,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371240,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3371242,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3371243,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [6]:
ex2_df = ex2_df.rename(columns={0:'seqname', 1: 'source', 2: 'feature', 3: 'start', 4: 'end', 5: 'score', 6: 'strand', 7: 'frame', 8: 'attribute'})
ex2_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3371239,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371240,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3371242,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3371243,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [9]:
ex2_df.nunique()

seqname           52
source             8
feature            9
start         654895
end           655046
score              1
strand             2
frame              4
attribute    2991836
dtype: int64

In [11]:
ens_df = ex2_df.query('source == "ensembl_havana"')
ens_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3370044,21,ensembl_havana,exon,46445284,46445769,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370045,21,ensembl_havana,CDS,46445284,46445324,.,+,2,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370046,21,ensembl_havana,stop_codon,46445325,46445327,.,+,0,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370047,21,ensembl_havana,five_prime_utr,46324156,46324228,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370048,21,ensembl_havana,three_prime_utr,46445328,46445769,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."

In [12]:
ens_df.size

6431472

In [13]:
ens_df.shape

(714608, 9)

In [14]:
ens_df.groupby("feature").count()

,seqname,source,start,end,score,strand,frame,attribute
feature,,,,,,,,
CDS,262659,262659,262659,262659,262659,262659,262659,262659
Selenocysteine,13,13,13,13,13,13,13,13
exon,285809,285809,285809,285809,285809,285809,285809,285809
five_prime_utr,38184,38184,38184,38184,38184,38184,38184,38184
gene,19285,19285,19285,19285,19285,19285,19285,19285
start_codon,25889,25889,25889,25889,25889,25889,25889,25889
stop_codon,25906,25906,25906,25906,25906,25906,25906,25906
three_prime_utr,30118,30118,30118,30118,30118,30118,30118,30118
transcript,26745,26745,26745,26745,26745,26745,26745,26745

In [67]:
genes = ex2_df.query('feature == "gene"')
genes

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g..."
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g..."
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g..."
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g..."
...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g..."
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g..."
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g..."
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."

In [68]:
genes['gene_length'] = genes['end'] - genes['start']

/var/folders/yv/l_1fgw5549sg8s9gt3z3fqnr0000gr/T/ipykernel_59186/966465148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes['gene_length'] = genes['end'] - genes['start']

In [69]:
genes

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546
...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163

In [70]:
genes.groupby("attribute").mean()

,start,end,gene_length
attribute,,,
"gene_id ""ENSG00000000003""; gene_version ""15""; gene_name ""TSPAN6""; gene_source ""ensembl_havana""; gene_biotype ""protein_coding"";",100627108.0,100639991.0,12883.0
"gene_id ""ENSG00000000005""; gene_version ""6""; gene_name ""TNMD""; gene_source ""ensembl_havana""; gene_biotype ""protein_coding"";",100584936.0,100599885.0,14949.0
"gene_id ""ENSG00000000419""; gene_version ""14""; gene_name ""DPM1""; gene_source ""ensembl_havana""; gene_biotype ""protein_coding"";",50934867.0,50959140.0,24273.0
"gene_id ""ENSG00000000457""; gene_version ""14""; gene_name ""SCYL3""; gene_source ""ensembl_havana""; gene_biotype ""protein_coding"";",169849631.0,169894267.0,44636.0
"gene_id ""ENSG00000000460""; gene_version ""17""; gene_name ""C1orf112""; gene_source ""ensembl_havana""; gene_biotype ""protein_coding"";",169662007.0,169854080.0,192073.0
...,...,...,...
"gene_id ""ENSG00000290162""; gene_version ""1""; gene_source ""havana""; gene_biotype ""unprocessed_pseudogene"";",119807433.0,119807581.0,148.0
"gene_id ""ENSG00000290163""; gene_version ""1""; gene_source ""havana""; gene_biotype ""unprocessed_pseudogene"";",119815164.0,119815307.0,143.0
"gene_id ""ENSG00000290164""; gene_version ""1""; gene_source ""havana""; gene_biotype ""unprocessed_pseudogene"";",119822906.0,119823043.0,137.0
"gene_id ""ENSG00000290165""; gene_version ""1""; gene_source ""havana""; gene_biotype ""unprocessed_pseudogene"";",119831616.0,119831759.0,143.0
"gene_id ""ENSG00000290166""; gene_version ""1""; gene_source ""havana_tagene""; gene_biotype ""lncRNA"";",1163451.0,1165333.0,1882.0

In [71]:
genes["attribute"].str.extract('gene_name "(.*?)"')

                0
0          ATAD3B
107           NaN
111      MTND1P23
114        RPL7P7
117      MTCO3P12
...           ...
3371150       NaN
3371224        U1
3371227       NaN
3371233       NaN
3371241        U1

[61860 rows x 1 columns]

In [72]:
genes["gene_name"] = genes["attribute"].str.extract('gene_name "(.*?)"')

/var/folders/yv/l_1fgw5549sg8s9gt3z3fqnr0000gr/T/ipykernel_59186/3505618588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes["gene_name"] = genes["attribute"].str.extract('gene_name "(.*?)"')

In [73]:
genes

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ATAD3B
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215,NaN
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371,MTND1P23
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702,RPL7P7
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546,MTCO3P12
...,...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014,NaN
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143,U1
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509,NaN
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830,NaN
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163,U1

In [74]:
genes.dropna()

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ATAD3B
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371,MTND1P23
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702,RPL7P7
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546,MTCO3P12
120,1,havana,gene,182696,184174,.,+,.,"gene_id ""ENSG00000279928""; gene_version ""2""; g...",1478,DDX11L17
...,...,...,...,...,...,...,...,...,...,...,...
3371083,GL000220.1,ensembl,gene,112025,112177,.,+,.,"gene_id ""ENSG00000274917""; gene_version ""1""; g...",152,RNA5-8SN5
3371086,GL000220.1,ensembl,gene,155997,156149,.,+,.,"gene_id ""ENSG00000273730""; gene_version ""1""; g...",152,5_8S_rRNA
3371111,KI270750.1,ensembl,gene,148668,148843,.,+,.,"gene_id ""ENSG00000277374""; gene_version ""1""; g...",175,U1
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143,U1
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163,U1

In [75]:
genes.groupby("gene_name")['gene_length'].median()

gene_name
5S_rRNA              118.0
5_8S_rRNA            151.0
7SK                  249.0
A1BG                8314.0
A1BG-AS1            7737.0
                    ...
ZZZ3              121003.0
hsa-mir-1253         104.0
hsa-mir-423           93.0
hsa-mir-8069-1        85.0
snoZ196               88.0
Name: gene_length, Length: 40192, dtype: float64

In [76]:
genes.groupby("gene_name")['gene_length'].mean()

gene_name
5S_rRNA              113.000000
5_8S_rRNA            151.111111
7SK                  266.142857
A1BG                8314.000000
A1BG-AS1            7737.000000
                      ...
ZZZ3              121003.000000
hsa-mir-1253         104.000000
hsa-mir-423           93.000000
hsa-mir-8069-1        85.000000
snoZ196               88.000000
Name: gene_length, Length: 40192, dtype: float64

In [77]:
genes.groupby("gene_name")['gene_length'].agg(['mean', 'median', 'max'])

                         mean    median     max
gene_name
5S_rRNA            113.000000     118.0     125
5_8S_rRNA          151.111111     151.0     152
7SK                266.142857     249.0     330
A1BG              8314.000000    8314.0    8314
A1BG-AS1          7737.000000    7737.0    7737
...                       ...       ...     ...
ZZZ3            121003.000000  121003.0  121003
hsa-mir-1253       104.000000     104.0     104
hsa-mir-423         93.000000      93.0      93
hsa-mir-8069-1      85.000000      85.0      85
snoZ196             88.000000      88.0      88

[40192 rows x 3 columns]

In [78]:
genes.nlargest(10, columns = 'gene_length')

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name
2679474,16,ensembl_havana,gene,5239802,7713340,.,+,.,"gene_id ""ENSG00000078328""; gene_version ""23""; ...",2473538,RBFOX1
1297140,7,ensembl_havana,gene,146116002,148420998,.,+,.,"gene_id ""ENSG00000174469""; gene_version ""23""; ...",2304996,CNTNAP2
1733179,9,ensembl_havana,gene,8314246,10613002,.,-,.,"gene_id ""ENSG00000153707""; gene_version ""19""; ...",2298756,PTPRD
1514121,X,ensembl_havana,gene,31097677,33339609,.,-,.,"gene_id ""ENSG00000198947""; gene_version ""18""; ...",2241932,DMD
1850816,11,ensembl_havana,gene,83455012,85627922,.,-,.,"gene_id ""ENSG00000150672""; gene_version ""18""; ...",2172910,DLG2
1601567,8,ensembl_havana,gene,2935353,4994972,.,-,.,"gene_id ""ENSG00000183117""; gene_version ""20""; ...",2059619,CSMD1
3030998,20,ensembl_havana,gene,13995369,16053197,.,+,.,"gene_id ""ENSG00000172264""; gene_version ""18""; ...",2057828,MACROD2
1104549,6,ensembl_havana,gene,63719980,65707226,.,-,.,"gene_id ""ENSG00000188107""; gene_version ""15""; ...",1987246,EYS
338522,2,havana,gene,140231423,142131016,.,-,.,"gene_id ""ENSG00000168702""; gene_version ""18""; ...",1899593,LRP1B
2041854,10,ensembl_havana,gene,65912457,67763637,.,-,.,"gene_id ""ENSG00000183230""; gene_version ""18""; ...",1851180,CTNNA3

In [79]:
genes.nsmallest(20, columns = 'gene_length')

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name
2341061,14,havana,gene,22438547,22438554,.,+,.,"gene_id ""ENSG00000223997""; gene_version ""1""; g...",7,TRDD1
2341642,14,havana,gene,22439007,22439015,.,+,.,"gene_id ""ENSG00000237235""; gene_version ""2""; g...",8,TRDD2
2418605,14,havana,gene,105865551,105865561,.,-,.,"gene_id ""ENSG00000236597""; gene_version ""1""; g...",10,IGHD7-27
1312465,7,havana,gene,142786213,142786224,.,+,.,"gene_id ""ENSG00000282431""; gene_version ""1""; g...",11,TRBD1
2341080,14,havana,gene,22449113,22449125,.,+,.,"gene_id ""ENSG00000228985""; gene_version ""1""; g...",12,TRDD3
2418657,14,havana,gene,105894508,105894523,.,-,.,"gene_id ""ENSG00000227800""; gene_version ""1""; g...",15,IGHD4-17
2418681,14,havana,gene,105903616,105903631,.,-,.,"gene_id ""ENSG00000232543""; gene_version ""2""; g...",15,IGHD4-11
2418713,14,havana,gene,105913222,105913237,.,-,.,"gene_id ""ENSG00000233655""; gene_version ""1""; g...",15,IGHD4-4
2418645,14,havana,gene,105891191,105891207,.,-,.,"gene_id ""ENSG00000237020""; gene_version ""1""; g...",16,IGHD1-20
2418669,14,havana,gene,105900638,105900654,.,-,.,"gene_id ""ENSG00000227108""; gene_version ""1""; g...",16,IGHD1-14
2418701,14,havana,gene,105909907,105909923,.,-,.,"gene_id ""ENSG00000237197""; gene_version ""1""; g...",16,IGHD1-7
2418725,14,havana,gene,105919502,105919518,.,-,.,"gene_id ""ENSG00000236170""; gene_version ""1""; g...",16,IGHD1-1
2462756,15,havana,gene,20011153,20011169,.,-,.,"gene_id ""ENSG00000271336""; gene_version ""1""; g...",16,IGHD1OR15-1A
2467826,15,havana,gene,21017800,21017816,.,-,.,"gene_id ""ENSG00000270185""; gene_version ""1""; g...",16,IGHD1OR15-1B
2418616,14,havana,gene,105881539,105881556,.,-,.,"gene_id ""ENSG00000225825""; gene_version ""1""; g...",17,IGHD6-25
2418705,14,havana,gene,105910410,105910427,.,-,.,"gene_id ""ENSG00000228131""; gene_version ""1""; g...",17,IGHD6-6
2418624,14,havana,gene,105884870,105884888,.,-,.,"gene_id ""ENSG00000227196""; gene_version ""1""; g...",18,IGHD4-23
2467325,15,havana,gene,21011451,21011469,.,-,.,"gene_id ""ENSG00000270451""; gene_version ""1""; g...",18,IGHD4OR15-4B
2489695,15,havana,gene,20004797,20004815,.,-,.,"gene_id ""ENSG00000271317""; gene_version ""1""; g...",18,IGHD4OR15-4A
2418612,14,havana,gene,105881034,105881053,.,-,.,"gene_id ""ENSG00000211907""; gene_version ""1""; g...",19,IGHD1-26

In [33]:
new_df = genes["attribute"].str.split(";")

In [34]:
new_df

0          [gene_id "ENSG00000160072",  gene_version "20"...
107        [gene_id "ENSG00000234396",  gene_version "3",...
111        [gene_id "ENSG00000225972",  gene_version "1",...
114        [gene_id "ENSG00000224315",  gene_version "2",...
117        [gene_id "ENSG00000198744",  gene_version "5",...
                                 ...
3371150    [gene_id "ENSG00000271254",  gene_version "7",...
3371224    [gene_id "ENSG00000275987",  gene_version "1",...
3371227    [gene_id "ENSG00000268674",  gene_version "2",...
3371233    [gene_id "ENSG00000277475",  gene_version "1",...
3371241    [gene_id "ENSG00000275405",  gene_version "1",...
Name: attribute, Length: 61860, dtype: object

In [39]:
merged_df = pd.merge(ex2_df, new_df, left_index=True, right_index=True)

In [40]:
merged_df

,seqname,source,feature,start,end,score,strand,frame,attribute_x,attribute_y
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...","[gene_id ""ENSG00000160072"", gene_version ""20""..."
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...","[gene_id ""ENSG00000234396"", gene_version ""3"",..."
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...","[gene_id ""ENSG00000225972"", gene_version ""1"",..."
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...","[gene_id ""ENSG00000224315"", gene_version ""2"",..."
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...","[gene_id ""ENSG00000198744"", gene_version ""5"",..."
...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...","[gene_id ""ENSG00000271254"", gene_version ""7"",..."
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...","[gene_id ""ENSG00000275987"", gene_version ""1"",..."
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...","[gene_id ""ENSG00000268674"", gene_version ""2"",..."
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...","[gene_id ""ENSG00000277475"", gene_version ""1"",..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...","[gene_id ""ENSG00000275405"", gene_version ""1"",..."

In [41]:
genes

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ATAD3B
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215,NaN
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371,MTND1P23
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702,RPL7P7
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546,MTCO3P12
...,...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014,NaN
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143,U1
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509,NaN
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830,NaN
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163,U1

In [45]:
genes.dtypes

seqname        object
source         object
feature        object
start           int64
end             int64
score          object
strand         object
frame          object
attribute      object
gene_length     int64
gene_name      object
dtype: object

In [85]:
genes['new_seqname'] = genes['seqname'].astype(str).str.strip()

/var/folders/yv/l_1fgw5549sg8s9gt3z3fqnr0000gr/T/ipykernel_59186/653036018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes['new_seqname'] = genes['seqname'].astype(str).str.strip()

In [86]:
genes

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name,new_seqname
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ATAD3B,1
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215,NaN,1
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371,MTND1P23,1
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702,RPL7P7,1
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546,MTCO3P12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014,NaN,KI270711.1
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143,U1,KI270713.1
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509,NaN,KI270713.1
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830,NaN,KI270713.1
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163,U1,KI270713.1

In [87]:
genes.groupby("new_seqname")["gene_name"].nunique()

new_seqname
1             3818
10            1644
11            2352
12            1865
13            1071
14            1586
15            1326
16            1449
17            1937
18             666
19            2075
2             2897
20            1027
21             558
22             914
3             2277
4             1678
5             1838
6             2048
7             1947
8             1467
9             1578
GL000009.2       0
GL000194.1       1
GL000195.1       1
GL000205.2       1
GL000213.1       1
GL000216.2       1
GL000218.1       0
GL000219.1       0
GL000220.1       2
GL000225.1       1
KI270442.1       2
KI270711.1       0
KI270713.1       1
KI270721.1       0
KI270726.1       0
KI270727.1       1
KI270728.1       0
KI270731.1       0
KI270733.1       2
KI270734.1       0
KI270744.1       1
KI270750.1       1
MT              37
X             1876
Y              432
Name: gene_name, dtype: int64

In [89]:
genes['chr'] = 'chr' + genes['new_seqname']

/var/folders/yv/l_1fgw5549sg8s9gt3z3fqnr0000gr/T/ipykernel_59186/1503207849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes['chr'] = 'chr' + genes['new_seqname']

In [90]:
genes

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length,gene_name,new_seqname,chr
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ATAD3B,1,chr1
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215,NaN,1,chr1
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371,MTND1P23,1,chr1
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702,RPL7P7,1,chr1
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546,MTCO3P12,1,chr1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014,NaN,KI270711.1,chrKI270711.1
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143,U1,KI270713.1,chrKI270713.1
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509,NaN,KI270713.1,chrKI270713.1
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830,NaN,KI270713.1,chrKI270713.1
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163,U1,KI270713.1,chrKI270713.1

In [ ]:
genes.to_csv(